.page.contact {

  .banner {
    background-image: url("../images/contact-banner.jpg");
    background-position: 50% 42%;
    background-size: cover;
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-bottom: percentage(800/1280);
    }
  }

  .banner-overlay {
    @include position(absolute, 0 0 0 0);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-message {
    color: $white;
    text-align: center;
  }

  .banner-message-heading {
    font-size: 1.375rem;
    margin: 0;
    text-transform: uppercase;
  }

  .banner-message-subtext {
    font-size: 0.75rem;
    margin: 0;
    text-transform: uppercase;
  }

  .contact-us {
    padding: $base-spacing;

    h2 {
      color: $red-orange;
      font-size: 1.75rem;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .other-contact-methods {
    text-align: center;
    i {
      display: block;
    }
  }
}
