.page.home {

  .banner {
    background-color: $dark-blue;
    background-image: url("../images/main-banners/sneffels.jpg");
    background-position: 11% 0;
    background-size: cover;
    position: relative;

    &::after {
      content: '';
      display: block;
      padding-bottom: percentage(1000/1280);
    }
  }

  .banner-overlay {
    @include position(absolute, 0 0 0 0);

    align-items: center;
    display: flex;
  }

  .banner-message {
    display: table;
    font-size: 1em;
    max-width: 260px;
    margin-left: 1.875em;
  }

  .bracket {
    color: $white;
    display: table-cell;
    font-family: $base-font-family;
    font-weight: normal;
    font-size: 90px;
    position: relative;
    top: -10px;
    vertical-align: middle;
  }

  .banner-text {
    color: $white;
    display: table-cell;
    font-size: 18px;
    margin: 0;
    padding: 0 4px;
    text-transform: uppercase;
    vertical-align: middle;
  }

  @media screen and (min-width: $medium-screen) {
    .banner::after {
      padding-bottom: percentage(650/1280);
    }

    .banner-message {
      max-width: 300px;
    }

    .banner-text {
      font-size: 1.375em;
    }
  }

  @media screen and (min-width: $large-screen) {
    .banner {
      height: 600px;
    }

    .bracket {
      font-size: 210px;
    }

    .banner-message {
      max-width: 600px;
    }

    .banner-text {
      font-size: 2.875em;
    }
  }

  .about-us {
    padding: $base-spacing $small-spacing;
    margin-left: auto;
    margin-right: auto;
    margin-top: $base-spacing;
    max-width: 1100px;
    text-align: center;

    .about-us-title {
      font-size: 1.375em;
      color: $dark-blue;
      margin-bottom: $base-spacing;
      text-transform: uppercase;
    }

    p {
      font-size: 1.375em;
    }

    hr {
      margin: 2em auto;
      width: 95%;
    }

    @media screen and (min-width: $medium-screen) {
      .about-us-title {
        font-size: 1.875em;
        margin-top: $base-spacing;
        margin-bottom: $small-spacing;
      }

      p {
        font-size: 1.25em;
        margin-bottom: $base-spacing;
      }
    }
  }

  .services {
    @include row;

    h4 {
      color: $red-orange;
      font-size: 1.125em;
      text-transform: uppercase;
    }

    .service {
      padding: $base-spacing;
    }

    @media screen and (min-width: $medium-screen) and (max-width: $large-screen) {
      padding: 0 $base-spacing;

      .service {
        @include span-columns(3 of 6);
        @include omega(2n);

        padding: $base-spacing 0;
      }
    }

    @media screen and (min-width: $large-screen) {
      padding: 0 $base-spacing;

      .service {
        @include span-columns(3 of 12);
        @include omega(4n);

        padding: $base-spacing 0;
      }
    }
  }

  .service-icon {
    color: $dark-blue;
    display: block;
    font-size: 106px;
    text-align: center;
  }

  .have-a-project-in-mind {
    background-color: $yellow;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: #{2.5 * $base-spacing} $base-spacing;

    h3{
      font-size: 1.6em;
    }

    .contact-link {
      border: 2px solid $dark-yellow;
      border-radius: 2 * $base-border-radius;
      color: $dark-blue;
      display: inline-block;
      font-size: 1.25em;
      font-family: $narrow-heading-font-family;
      font-weight: 300;
      line-height: 1.4;
      padding: 11px 32px;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
    }

    @media only screen and  (min-width: $medium-screen) {
      h3{
        font-size: 1.875em;
        margin-bottom: 26px;
      }
    }
  }

  .featured-projects {
    display: flex;
    flex-wrap: wrap;

    .project {
      background-size: 100%;
      background-repeat: no-repeat;
      display: block;
      position: relative;
      width: 100%;

      // Allows box to maintain aspect ratio, without affecting the height of
      // the overlay. If padding-bottom: 100% was on .project and the width of
      // the element was narrowed to 25%, the height of .project would remain
      // like the element was  100% wide and the hight would be 4x longer than
      // the width. Then you'd have to do
      //
      // width: 25%;
      // padding-bottom: 25%;
      //
      // This lets us forget about that weirdness and uses a psuedo element to
      // control the aspect ratio
      &::after {
        content: ' ';
        display: block;
        padding-bottom: 100%;
      }

      &.gopago {
        background-image: url('../images/featured-projects/gopago.jpg');

        @media screen and (min-resolution: $retina-screen){
          background-image: url('../images/featured-projects/gopago_2x.jpg');
        }
      }

      &.recognized {
        background-image: url('../images/featured-projects/recognized.jpg');

        @media screen and (min-resolution: $retina-screen){
          background-image: url('../images/featured-projects/recognized_2x.jpg');
        }
      }

      &.bike2020 {
        background-image: url('../images/featured-projects/bike2020_mobile.jpg');

        @media screen and (min-resolution: $retina-screen){
          background-image: url('../images/featured-projects/bike2020_mobile_2x.jpg');
        }
      }

      &.bizlink {
        background-image: url('../images/featured-projects/bizlink_desktop.jpg');

        @media screen and (min-resolution: $retina-screen){
          background-image: url('../images/featured-projects/bizlink_desktop_2x.jpg');
        }
      }
    }

    .overlay {
      @include position(absolute, 0 0 0 0);

      align-items: center;
      background-color: rgba($red-orange, 0.5);
      display: flex;
      justify-content: center;
      padding: $small-spacing;
      opacity: 0.0;
      transition: opacity $base-duration $base-timing;
    }

    .project:hover .overlay {
      opacity: 1.0;
    }

    .project-text {
      color: $white;
      text-align: center;
      width: 100%;
    }

    .project-name {
      border-bottom: 2px solid $white;
      font-size: 1.875em;
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    .project-skills {
      font-family: $narrow-heading-font-family;
      font-size: 1.25em;
      font-weight: 300;
      margin: 0;
      text-transform: uppercase;

      li {
        display: inline-block;
        margin: 0;

        &::after {
          content: " / ";
        }

        &:last-child::after{
          content: "";
        }
      }
    }

    @media screen and (min-width: $medium-screen) {
      .project {
        width: 50%;
      }
    }

    @media screen and (min-width: $large-screen) {
      .project {
        width: 25%;
      }
    }
  }

  .featured-case-study {
    background-color: $black;
    background-image: url('../images/featured-case-study/go-code-water-bottle.jpg');
    background-position: 90% 50%;
    background-size: cover;
    color: $white;
    display: flex;
    justify-content: flex-end;
    height: 650px;

    .case-study-text {
      padding: (4 * $base-spacing) $base-spacing;
      max-width: 500px;
    }

    .case-study-header {
      color: $red-orange;
      font-size: 1.875em;
      margin: 0;
      text-transform: uppercase;
    }

    .case-study-name {
      font-size: 1.875em;
      text-transform: uppercase;
    }

    a {
      color: $red-orange;

      &:hover{
        color: shade($red-orange, 5%);
      }
    }

    @media screen and (min-width: $medium-screen) {
      background-position: 44% 50%;
    }

    @media screen and (min-width: $large-screen) {
      background-position: 83% 50%;

      .case-study-text {
        margin-right: $base-spacing;
      }
    }
  }

  .featured-clients {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: (2 * $base-spacing) $base-spacing;

    .client {
      padding: $base-spacing (1.5 * $base-spacing);
      text-align: center;
      width: 100%;
    }

    @media screen and (min-width: $medium-screen){
      .client {
        width: auto;
      }
    }
  }
}

.building-great-apps {
  background-color: $red-orange;
  color: $white;
  padding: (2 * $base-spacing) $base-spacing;
  text-align: center;

  h3 {
    font-size: 1.375em;
    text-transform: uppercase;
  }

  .contact-link {
    border: 2px solid $orange;
    border-radius: 2 * $base-border-radius;
    color: $yellow;
    display: inline-block;
    font-size: 1.25em;
    font-family: $narrow-heading-font-family;
    font-weight: 300;
    line-height: 1.4;
    padding: 11px 32px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

  @media only screen and  (min-width: $medium-screen) {
    h3{
      font-size: 1.875em;
      margin-bottom: 26px;
    }
  }
}
