<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Animas Code Labs | Web and Mobile Apps built in Durango, Colorado</title>
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Montserrat|Open+Sans:300|Oswald:300,700" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header id="site-header">
      <%= link "Animas Code Labs", to: page_path(@conn, :index), class: "logo" %>

      <a class="mobile-menu">
        <div>
          <span class="top"></span>
          <span class="middle"></span>
          <span class="bottom"></span>
        </div>
      </a>

      <nav class="site-header-nav">
        <ul>
          <li><%= link "Blog", to: "http://blog.animascodelabs.com" %></li>
          <li><%= link "Contact", to: page_path(@conn, :contact) %></li>
        </ul>
      </nav>
    </header>

    <%= render @view_module, @view_template, assigns %>

    <footer id="site-footer">
      <nav class="site-footer-nav">
        <ul>
          <li><%= link "Blog", to: "http://blog.animascodelabs.com" %></li>
          <li><%= link "Contact", to: page_path(@conn, :contact) %></li>
        </ul>
      </nav>
      <div class="email">
          <i class="icon-mail"></i>
          <a href="mailto:info@animascodelabs.com">info@animascodelabs.com</a>
        </div>

        <div class="phone">
          <i class="icon-phone"></i>
          <a href="tel:+19704035085">970-403-5085</a>
        </div>
      <div class="social">
        <span class="label">Social</span>
        <ul>
          <li>
            <a href="https://twitter.com/animascodelabs"
               class="icon-twitter" aria-label="Follow us on Twitter"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/AnimasCodeLabs"
               class="icon-facebook" aria-label="Friend us on Facebook"></a>
          </li>
          <li>
            <a href="http://google.com/+animascodelabs"
               class="icon-googleplus" aria-label="Follow us on Google Plus"></a>
          </li>
          <li>
            <a href="http://github.com/animascodelabs"
               class="icon-github" aria-label="Check out our code on Github"></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/3506297"
               class="icon-linkedin" aria-label="Connect with us on LinkedIn"></a>
          </li>
        </ul>
      </div>
      <div class="colorado-company-badge"></div>
      <div class="copyright">&copy; <%= current_year %> Animas Code Labs. All rights reserved.</div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
