// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;
$xl-screen: 1200px;

$retina-screen: 1.5dppx;

// Typography
$base-font-family: 'Open Sans', $font-stack-helvetica;
$heading-font-family: 'Montserrat', $font-stack-helvetica;
$narrow-heading-font-family: 'Oswald', $font-stack-helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #000;
$dark-blue: #3f5566;
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #939393;
$light-gray: #ccc;
$orange: #f29140;
$red-orange: #ea5f45;
$yellow: #f8ca4d;
$dark-yellow: #a09455;
$white: #fff;

// Font Colors
$base-font-color: $medium-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
