//From here: https://gist.github.com/tillsanders/10237546 and http://jsfiddle.net/SYYr5/84/

.mobile-menu {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;

  div {
    width: 15px;
    height: 15px;
    position: relative;
  }
  span {
    display: block;
    width: 15px;
    height: 3px;
    background: black;
    position: absolute;
    transition: transform 0.5s ease-in-out, top 0.25s ease-in-out 0.5s, opacity 0.25s ease-in-out 0.5s;
    transform-origin: center;
  }
  span.top {
    top: 0px;
  }
  span.middle {
    top: 6px;
  }
  span.bottom {
    top: 12px;
  }

  &.menu-is-active span {
    transition: transform 0.5s ease-in-out 0.3s, top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }
  &.menu-is-active span.top, &.menu-is-active span.middle {
    top: 6px;
    transform: rotate(135deg);
  }
  &.menu-is-active span.middle {
    opacity: 0;
  }
  &.menu-is-active span.bottom {
    top: 6px;
    transform: rotate(225deg);
  }
}
