#site-header {
  position: relative;
  margin: $base-spacing;

  .logo {
    @include size(150px, 51px);
    @include hide-text();

    background-image: url("../images/header-logo.png");
    background-repeat: no-repeat;
    background-size: 150px 51px;
    display: block;

    @media screen and (min-resolution: $retina-screen){
      background-image: url("../images/header-logo_2x.png");
    }
  }

  .mobile-menu {
    position: absolute;
    right: 0;
    top: 0;
  }

  .mobile-menu span {
    background-color: $dark-blue;
  }
}

.site-header-nav {
  font-family: $heading-font-family;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;

  a {
    color: $medium-gray;
    display: block;
  }

  ul {
    margin: $base-spacing 0;
  }

  li {
    border-bottom: $base-border;
    padding: $small-spacing 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &.active {
    max-height: 100px;
  }
}

@media screen and (min-width: $medium-screen) {
  #site-header .mobile-menu {
    display: none;
  }

  .site-header-nav {
    @include position(absolute, null 0 0 null);

    line-height: 1;
    max-height: none;

    ul {
      margin: 0;
    }

    li {
      border: none;
      display: inline-block;
      padding: 0;
      margin-left: 1.5 * $base-spacing;
    }

    a {
      font-size: 0.875em;
    }
  }
}
