#site-footer {
  background-color: $dark-gray;
  color: $white;
  text-align: center;

  [class^="icon-"], [class*=" icon-"] {
    color: $medium-gray;
  }

  a {
    color: $white;
  }

  .colorado-company-badge {
    @include size(100px, 100px);

    background-image: url('../images/footer/colorado-company-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    margin: $base-spacing auto;
  }

  .site-footer-nav {
    font-family: $heading-font-family;
    font-size:  0.875em;
    padding: (2 * $base-spacing) $base-spacing $base-spacing;
    text-transform: uppercase;

    li {
      padding: $small-spacing/2 0;
    }
  }

  .email, .phone, .social {
    font-family: $heading-font-family;
    font-size:  0.875em;
    padding: $small-spacing/1.5 0;
    text-transform: uppercase;
  }

  .social {
    padding: $base-spacing 0;

    ul {
      margin: $small-spacing 0;
    }

    li {
      display: inline-block;
    }

    a {
      font-size: 24px;
    }
  }

  .copyright {
    border-top: 1px solid $medium-gray;
    padding: $base-spacing $base-spacing;
    font-family: $base-font-family;
    font-size: 12px;
  }

  @media screen and (min-width: $medium-screen) {
    .site-footer-nav li {
      display: inline-block;
      margin: 0 $small-spacing;
    }
  }

  @media screen and (min-width: $large-screen) {
    display: flex;
    flex-wrap: wrap;
    padding-top: $base-spacing;

    .site-footer-nav {
      order: 1;
      padding: $base-spacing;
      text-align: left;
      width: percentage(1/3);

      li {
        padding: 0;
        margin: 0;
        margin-right: $small-spacing;
      }
    }

    .phone {
      padding: $base-spacing;
      order: 2;
      width: percentage(1/3);
    }

    .email {
      padding: $base-spacing;
      order: 3;
      text-align: right;
      width: percentage(1/3);
    }


    .social {
      order: 4;
      padding-bottom: $small-spacing;
      padding-top: 0;
      width: 100%;
    }

    .colorado-company-badge {
      margin-top: 0;
      order: 6;
      width: 100%;
    }

    .copyright {
      order: 5;
      width: 100%;
    }
  }

  @media screen and (min-width: $xl-screen) {
    $social-width: 230px;

    .email {
      order: 2;
      text-align: center;
    }

    .phone {
      order: 3;
      text-align: right;
      width: calc(33.333333% - #{$social-width});
    }

    .social {
      padding: $base-spacing;
      padding-left: 0;
      text-align: right;
      width: $social-width;

      .label {
        margin-right: $small-spacing;
        vertical-align: top;
      }

      ul {
        display: inline-block;
        position: relative;
        top: -2px;
        margin: 0;
      }
    }
  }
}
