@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?9j6itj');
    src:    url('../fonts/icomoon.eot?9j6itj#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?9j6itj') format('truetype'),
        url('../fonts/icomoon.woff?9j6itj') format('woff'),
        url('../fonts/icomoon.svg?9j6itj#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
    content: "\e60d";
}
.icon-users:before {
    content: "\e60a";
}
.icon-continuous:before {
    content: "\e609";
}
.icon-mobile:before {
    content: "\e600";
}
.icon-cogs:before {
    content: "\e601";
}
.icon-arrow-right:before {
    content: "\e60b";
}
.icon-github:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-facebook:before {
    content: "\e604";
}
.icon-googleplus:before {
    content: "\e605";
}
.icon-linkedin:before {
    content: "\e606";
}
.icon-phone:before {
    content: "\e607";
}
.icon-mail:before {
    content: "\e608";
}

