<main role="main" class="page contact">
<section class="banner">
  <div class="banner-overlay">
    <div class="banner-message">
      <h2 class="banner-message-heading">Contact Us</h2>
      <p class="banner-message-subtext">
        Let us take your project to new heights
      </p>
    </div>
  </div>
</section>

<section class="contact-us">
  <h2>Let's begin the conversation</h2>
  <div class="send-message">
    <p>
      Whether you've got an idea for a new project, or just want to say hi,
      we'd love to hear from you.
    </p>
    <form>
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
      <input type="email" placeholder="Email">
      <input type="tel" placeholder="Phone">
      <textarea placeholder="Tell us about your project or just drop us a line." rows="9"></textarea>
      <button type="submit">Let's get started</button>
    </form>
  </div>
  <aside class="other-contact-methods">
    <div class="email">
      <i class="icon-mail"></i>
      <a href="mailto:info@animascodelabs.com">info@animascodelabs.com</a>
    </div>
    <div class="phone">
      <i class="icon-phone"></i>
      <a href="tel:19704035085">970-403-5085</a>
    </div>
    <div class="address">
      <i class="icon-location"></i>
      <address>
        367 Valley View Dr<br>
        Bayfield, CO 81122
      </address>
    </div>
  </aside>
</section>

<section class="building-great-apps">
  <h3>Building Great Applications at 6512' Elevation.</h3>
</section>
</main>
