<main role="main" class="page home">
<section class="banner">
  <div class="banner-overlay">
    <h2 class="banner-message">
      <span class="bracket">[</span>
      <span class="banner-text">Great apps built by designers and developers
        dedicated to your vision.</span>
      <span class="bracket">]</span>
    </h2>
  </div>
</section>

<section class="about-us">
  <h2 class="about-us-title">We build cutting edge web and mobile apps for the cloud.</h2>
  <p>We are a full-service software development studio proudly based in Durango,
  Colorado. <br >
  Our expert developers turn your idea into the right solution.
  </p>
  <hr class="with-diamonds">
</section>

<section class="services">
  <section class="service">
    <div class="service-icon">
      <i class="icon-mobile"></i>
    </div>
    <h4>Design &amp; Development</h4>
    <p>We build cutting edge web and mobile apps to solve problems for our
    clients.We take pride in building high quality applications that make a
    difference to your business and customers.</p>
  </section>

  <section class="service">
    <div class="service-icon">
      <i class="icon-continuous"></i>
    </div>
    <h4>Continous Testing</h4>
    <p>You want your site to just work. We build an automated test suite to
    catch bugs before your users do. If we do find a bug, we'll write a test
    for it to make sure it doesn't happen again.</p>
  </section>

  <section class="service">
    <div class="service-icon">
      <i class="icon-cogs"></i>
    </div>
    <h4>Agile Development</h4>
    <p>We realize budgets are limited, and want to make sure your most
    important features are built first. We get your site working as soon as
    possible, so you can get feedback from your users and we can make your site
    as effective as possible.</p>
  </section>

  <section class="service">
    <div class="service-icon">
      <i class="icon-users"></i>
    </div>
    <h4>User Centered Design</h4>
    <p>People use your site, not developers. We encourage you to share your site
    with prospective users as we build it. We’ll take that feedback and improve
    the site so when you launch, it’s ready to go.</p>
  </section>
</section>

<section class="have-a-project-in-mind">
  <h3>Have a project in mind? Great, Let us know how we can help.</h3>
  <a href="/contact" class="contact-link">Tell us about your vision</a>
</section>

<section class="featured-projects">
  <a href="javascript:void(0)" class="project gopago">
    <div class="overlay">
      <div class="project-text">
        <h4 class="project-name">GoPago</h4>
        <ul class="project-skills">
          <li>Credit Card Processing</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
  </a>
  <a href="javascript:void(0)" class="project recognized">
    <div class="overlay">
      <div class="project-text">
        <h4 class="project-name">Recognized.io</h4>
        <ul class="project-skills">
          <li>Accounting</li>
          <li>Product Development</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
  </a>
  <a href="javascript:void(0)" class="project bike2020">
    <div class="overlay">
      <div class="project-text">
        <h4 class="project-name">Bike 20/20</h4>
        <ul class="project-skills">
          <li>Responsive Design</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
  </a>
  <a href="javascript:void(0)" class="project bizlink">
    <div class="overlay">
      <div class="project-text">
        <h4 class="project-name">BizLink Inc.</h4>
        <ul class="project-skills">
          <li>Public Data</li>
          <li>Advanced Search</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
  </a>
</section>

<section class="featured-case-study">
  <div class="case-study-text">
    <h4 class="case-study-header">Case Study</h4>
    <h3 class="case-study-name">Bizlink Colorado</h3>

    <p>In May 2014, Animas Code Labs helped the BizLink team take 2nd place out
    of 26 teams statewide in the inaugural
    <a href="http://gocode.colorado.gov" target="_blank">Go Code Colorado</a>
    apps challege. The team had 6 weeks to build a working application that made
    the 1.6 milion business listings registered with the State of Colorado,
    useful to the general public.</p>

    <p>ACL leveraged their experience working with startups to quickly build the
    application, improve based on user feedback, and gain traction during the 6
    week competition. In the 8 days before the GoCode Colorado Finals the team
    got 42 business owners to claim their companies and start using our app.</p>
  </div>
</section>

<ul class="featured-clients">
  <li class="client">
    <img alt="Bike 20/20"
          src="<%= static_path(@conn, "/images/client-logos/bike2020.png") %>" >
  </li>
  <li class="client">
    <img alt="BizLink Colorado"
          src="<%= static_path(@conn, "/images/client-logos/bizlink.png") %>" >
  </li>
  <li class="client">
    <img alt="GoPago"
          src="<%= static_path(@conn, "/images/client-logos/gopago.png") %>" >
  </li>
  <li class="client">
    <img alt="Creeklife"
          src="<%= static_path(@conn, "/images/client-logos/creeklife.png") %>" >
  </li>
  <li class="client">
    <img alt="Go Code Colorado"
          src="<%= static_path(@conn, "/images/client-logos/go-code.png") %>" >
  </li>
</ul>

<section class="building-great-apps">
  <h3>Building Great Applications at 6512' Elevation.</h3>
  <a href="/contact" class="contact-link">Tell us about your vision</a>
</section>
</main>
